name: Deploy to Somee

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Somee via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.SOMEE_SERVER }}
          username: ${{ secrets.SOMEE_USERNAME }}
          password: ${{ secrets.SOMEE_PASSWORD }}
          local-dir: ./
          server-dir: /https://hoanganh.rf.gd//
          dangerous-clean-slate: false
